/* Font Style */
@font-face {
    font-family: "InterVariable";
    font-display: fallback;
    font-weight: 100 900;
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format("truetype");
}

:root {
    /* Color Lists */
    --grey-900: hsl(215, 31%, 21%);
    --blue-600: hsl(227, 92%, 58%);
    --grey-700: hsl(215, 17%, 45%);
    --grey-300: hsl(200, 24%, 88%);
    --white-900: hsl(0, 0%, 100%);
    --background-gradient: linear-gradient(290.1deg, #D6E6FE 0%, rgba(214, 252, 254, 0) 100%);
}

/* Universal Styling */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "InterVariable";
    font-size: 16px;
}

body {
    min-height: 100vh;
    max-height: 375px;
    padding-left: 1.5rem;
}

p {
    color: var(--grey-700);
    line-height: 1.5;
}

/* Utilities Style */
.page__heading {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 2.1875rem;
}

.page-header__container {
    width: 61.125rem;
    padding: 4.6875rem 18.625rem 12.5rem 7.25rem;
    background: var(--background-gradient);
    border-radius: 0 0 2.1875rem 2.1875rem;
}

.page-header__content {
    width: 35.25rem;
}

.company__logo {
    margin-bottom: 7.9375rem;
}